<a href="https://colab.research.google.com/github/mtice22/data/blob/master/Data_Science_Hervey_Bowl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [44]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# 2. Load a file by ID and create local file.
downloaded = drive.CreateFile({'id':'1m0f1WMjCFV4OFxgE-MlvBkFDA8Lx0QHS'}) # replace fileid with Id of file you want to access
downloaded.GetContentFile('export.csv') # now you can use export.csv

In [0]:
data= pd.read_csv('export.csv')

In [47]:
data.head()

   event_id      game_session  ...      type      world
0  27253bdc  45bb1e1b6b50c07b  ...      Clip       NONE
1  27253bdc  17eeb7f223665f53  ...      Clip  MAGMAPEAK
2  77261ab5  0848ef14a8dc6892  ...  Activity  MAGMAPEAK
3  b2dba42b  0848ef14a8dc6892  ...  Activity  MAGMAPEAK
4  1bb5fbdb  0848ef14a8dc6892  ...  Activity  MAGMAPEAK

[5 rows x 11 columns]

In [48]:
data.tail()

          event_id      game_session  ...  type         world
11341037  ab3136ba  c09b94eebfdf50a6  ...  Game     MAGMAPEAK
11341038  27253bdc  6ad8ab25003ef1b0  ...  Clip  CRYSTALCAVES
11341039  27253bdc  71904dca23b982c6  ...  Clip  CRYSTALCAVES
11341040  27253bdc  2267b18f069e875a  ...  Clip  CRYSTALCAVES
11341041  27253bdc  f31950f549d7c242  ...  Clip   TREETOPCITY

[5 rows x 11 columns]

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11341042 entries, 0 to 11341041
Data columns (total 11 columns):
event_id           object
game_session       object
timestamp          object
event_data         object
installation_id    object
event_count        int64
event_code         int64
game_time          int64
title              object
type               object
world              object
dtypes: int64(3), object(8)
memory usage: 951.8+ MB

In [50]:
data.shape

(11341042, 11)

In [0]:
import sqlite3